<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118418741458-g1hln6ntkase8ev7admn700ed4k72a90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118418741458-g1hln6ntkase8ev7admn700ed4k72a90</string>
	<key>API_KEY</key>
	<string>AIzaSyDOjSVHt0f44kSe9VpIFendWEcmyp9jtXY</string>
	<key>GCM_SENDER_ID</key>
	<string>118418741458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woodburydev.cookd</string>
	<key>PROJECT_ID</key>
	<string>cookd-f2872</string>
	<key>STORAGE_BUCKET</key>
	<string>cookd-f2872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118418741458:ios:ebd6c1436fadb49616750b</string>
</dict>
</plist>